@import "tailwindcss";
/* app/globals.css or a separate CSS file */
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes progress {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.animate-fade-in {
  animation: fade-in 1s ease-out;
}

.animate-progress {
  animation: progress 5s linear infinite;
}

/* Custom Swiper Styles */

.swiper-pagination-bullet-active {
  @apply bg-white;
}